<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link href="/sf/public/assert/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/sf/public/assert/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/sf/public/assert/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/sf/public/assert/js/bootstrap.min.js"></script>
     <script type="text/javascript">
		function change()
		{
			var dt = $('#key').val();
			 $.ajax({
                    url:'/sf/public/index.php/sms/ndlist?key='+dt,
                    type:"get",
                    success:function(data){
						location.reload();
                    },
                    error:function(){
                    }
            });
		
		}
	</script>
</head>
<body>
	<div class="container">
		<BR/>
		<form class="form-horizontal" >
			<fieldset>
			   <div class="form-group">
				    <label class="col-md-1 control-label" style="font-size:15px" >选择日期</label>
				    <div class="col-md-6">
						<div class="input-group date form_date col-md-10" data-date="" data-date-format="yyyy-mm-dd"" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input  id="key" name="key" class="form-control" size="16" type="text" value="" readonly>
							<span class="input-group-addon" style="height:10px"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
				    </div>
				    <div class="col-md-1">
						<button  class="form-control" onclick="change()">查询</button >
 				</div>
			   </div>
			</fieldset>	                  
		</form>	 	
		<table class="table table-hover">
		   <thead>
			  <tr>
				 <th>姓名</th>
				 <th>联系电话</th>
				 <th>城市</th>
				 <th>区县</th>
				 <th>详细地址 </th>
				 <th>提交页面 </th>
				 <th>终端类型 </th>
				 <th>提交时间 </th>
			  </tr>
		   </thead>		
			{foreach from=$xx3 item=foo}
			<tr>
				<td>{$foo.client_name}</td>	
				<td>{$foo.client_mob}</td>
				<td>{$foo.client_province}</td>	
				<td>{$foo.client_city}</td>
				<td>{$foo.client_addr}</td>		
				<td>{$foo.client_page}</td>
				<td>{$foo.client_from}</td>				
				<td>{$foo.client_time}</td>					
			</tr>
			{/foreach}
		</table>
	</div>
	
	<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/sf/public/assert/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/sf/public/assert/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/sf/public/assert/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>	
	<script type="text/javascript">
		$(function(){
			$('.form_date').datetimepicker({
				language:  'zh-CN',
				weekStart: 1,
				todayBtn:  0,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
			});
		});
	</script>	
</body>
</html>